@import '../../assets/scss/breakpoints';
@import '../../assets/scss/colors';

.form-row {
  margin-bottom: 2rem;
  margin-top: 2rem;

  @media screen and (max-width: $largest-mobile-breakpoint) {
    margin-bottom: 0;
  }
}

.loading-indicator {
  font-weight: 300;
}

.gu-mirror {
  background-color: $background-color;
  border-bottom: solid 1px $todo-action-color;
  list-style-type: none;
  opacity: 1;

  .btn[class*='action-'] {
    display: none;
  }

  span {
    &.btn-link {
      border-radius: 0;
      color: $todo-link-color;
      font-size: 1.5rem;
      line-height: 1.5rem;
      padding: 18px;
      text-align: left;
      text-decoration: none;
      width: 80%;
      white-space: inherit;
    }
  }
}

body {
  &.no-touch {
    .todos {
      li {
        &.mark-for-completion {
          .btn-lg.action-done, .btn-link {
            color: $action-done-color;
          }

          .btn-lg.action-remove {
            color: $todo-action-color;
            opacity: 0;
          }

        }

        &.mark-for-removal {
          .btn-lg.action-remove, .btn-link {
            color: $action-remove-color;
          }

          .btn-lg.action-done {
            color: $todo-action-color;
            opacity: 0;
          }
        }

        &:hover {
          cursor: pointer;

          .btn-lg {
            &.action-done {
              margin-left: 0;
            }

            &.action-remove {
              margin-right: 0;
            }
          }
        }

        .btn-lg {
          &.action-done {
            transition: margin-left 200ms ease-in, opacity 500ms linear;
          }

          &.action-remove {
            transition: margin-right 200ms ease-in, opacity 500ms linear;
          }
        }
      }
    }
  }

  .todos {
    padding-left: 0;

    li {
      border-bottom: solid 1px $todo-action-color;
      font-size: 1.75rem;
      list-style-type: none;
      overflow-x: hidden;
      padding: 0.5rem 0;

      &.gu-transit {
        opacity: 1;

        &.action-done, &.action-remove {
          .btn-lg {
            &.action-done, &.action-remove {
              border-radius: 5px;
              display: block;
              padding-top: 7px;
              transition: all 0s ease 0s;
              width: 80%;
              z-index: 110;
            }

            &.todo {
              display: none;
            }
          }
        }

        &.action-done {
          .btn-lg {
            &.action-done {
              background-color: $action-done-color;
              text-align: left;
            }

            &.action-remove {
              display: none;
            }
          }
        }

        &.action-remove {
          .btn-lg {
            &.action-remove {
              background-color: $action-remove-color;
              text-align: right;
            }

            &.action-done {
              display: none;
            }
          }
        }

        .btn-lg.action {
          color: #fff;
          display: none;
          float: none;
          margin: 0;
          z-index: 100;
        }

      }

      .btn-lg {
        color: $todo-action-color;
        display: block;
        float: left;
        font-size: 1.5rem;

        &:last-child {
          float: right;
        }

        &.action-done {
          margin-left: -60px;
        }

        &.action-remove {
          margin-right: -60px;
        }

        &.action {
          height: 0;
        }
      }

      span {
        &.btn-link {
          color: $todo-link-color;
          line-height: 1.5rem;
          padding-left: 0;
          padding-right: 0;
          text-align: left;
          width: 80%;
          white-space: inherit;

          &:hover {
            text-decoration: none;
          }
        }
      }
    }
  }
}
