<section *ngIf="!loading; else showLoading">
  <div class="row form-row">
    <div class="col-sm-12 col-md-6 col-md-offset-3 col-lg-6 col-lg-offset-3">
      <todo-form [userId]="authState.uid"></todo-form>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 col-md-6 col-md-offset-3 col-lg-6 col-lg-offset-3">
      <ol class="todos">
        <li todo-component *ngFor="let todo of todos" [todo]="todo"></li>
      </ol>
    </div>
  </div>

  <ng-template #showLoading>
    <h2 class="text-muted loading-indicator"><i class="fa fa-spinner fa-pulse fa-fw"></i> Loading Todos&hellip;</h2>
  </ng-template>
</section>
