<header>
  <nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        <a class="navbar-brand" href="/"><i class="fa fa-list-alt"></i> {{ loggedIn ? 'My Things' : 'Things to Do' }}</a>
      </div>
      <div id="navbar">
        <navbar-menu [loggedIn]="loggedIn"></navbar-menu>
      </div>
    </div>
  </nav>
</header>

<main class="container">
  <router-outlet></router-outlet>
</main>

<footer class="main">
  <div class="container">
    <p class="text-center">An Angular web application built using <a href="https://angular.io" target="_blank">Angular</a>, <a href="https://firebase.io" target="_blank">Firebase</a> and <a href="https://getbootstrap.com" target="_blank">Bootstrap</a><br>View this project on <a href="https://github.com/alsoicode/osu-todos" target="_blank">Github <i class="fa fa-github"></i></a></p>
  </div>
</footer>
