@import '../assets/scss/mixins';
@import '../assets/scss/breakpoints';
@import '../assets/scss/colors';


/* Bootstrap Overrides / Variables
-------------------------------------------------- */
$gutter: 15px;

.btn {
  &.btn-block {
    display: inline-block;
    width: 100%;
  }
}


/* Sticky footer styles / variables
-------------------------------------------------- */
$footer-height: 75px;
$navbar-height: 57px;

html {
  font-size: 16px;
  min-height: 100%;
  position: relative;
}

body {
  background-color: $background-color;
  font-family: 'Open Sans';

  /* Margin bottom by footer height */
  margin-bottom: $footer-height;

  @media screen and (max-width: $largest-mobile-breakpoint) {
    margin-bottom: $footer-height + $gutter;
  }

  a {
    color: $button-color;
  }
}

header {
  .navbar {
    @include simple-box-shadow(11px, 0.45);
    height: $navbar-height;
    min-height: $navbar-height;
  }

  .navbar-default {
    background-color: #333;
    border: 0 none;

    .navbar-brand {
      color: #fff;
      font-weight: 300;
      font-size: 2rem;
      letter-spacing: -0.0625rem;

      &:hover {
        color: $button-color;
      }

      @media screen and (max-width: $largest-mobile-breakpoint) {
        font-size: 1.75rem;
      }

      i {
        margin-right: 0.25rem;
      }
    }

    .navbar-nav {
      color: #fff;
      font-size: 1.6875rem;

      > li {
        .dropdown-menu {
          border: 0 none;
          padding: $gutter;
          text-align: right;
        }

        > a {
          color: inherit;

          &:hover {
            color: $button-color;
          }
        }
      }
    }

    @media screen and (max-width: $largest-mobile-breakpoint) {
      .navbar-header {
        float: left;
      }

      #navbar {
        float: right;
        max-width: 40%;

        .navbar-nav {
          height: $navbar-height;
          margin: 0 -15px;
        }

        .dropdown {
          height: $navbar-height;

          &.open {
            a, a:hover {
              color: #333;
            }

            .dropdown-menu {
              a {
                background-color: #fff;
                @include simple-box-shadow(11px, 0.5);
                height: 50px;
                margin-right: -16px;
                padding-bottom: 0;
                padding-right: 20px;
                width: auto;
              }
            }
          }

          a {
            display: block;
            float: right;
            height: $navbar-height;
            padding-top: $gutter;
            width: 75px;

            &:hover {
              color: #fff;
            }
          }
        }
      }
    }

    @media screen and (max-width: $medium-mobile-breakpoint) {
      #navbar {
        .dropdown {
          &.open {
            .dropdown-menu {
              padding-right: $gutter * 2;
            }
          }
        }
      }
    }
  }
}

main {
  &.container {
    padding-top: $navbar-height;
  }
}

footer {
  &.main {
    bottom: 0;
    box-shadow:inset 0 11px 11px -11px rgba(0, 0, 0, 0.25);
    color: #fff;
    padding-top: $gutter;
    position: absolute;
    width: 100%;

    /* Set the fixed height of the footer here */
    height: $footer-height;
    background-color: $footer-color;

    @media screen and (max-width: $largest-mobile-breakpoint) {
      height: $footer-height + $gutter;
    }

    a {
      color: inherit;
      text-decoration: underline;

      &:hover {
        text-decoration: none;
      }
    }
  }
}

// Forms
legend {
  border-bottom: 0;
  color: #ccc;
  font-size: 2.625rem;
  font-weight: 300;
  letter-spacing: -0.125rem;
  line-height: 2.5rem;
  margin-bottom: 0.5rem;

  @media screen and (max-width: $largest-mobile-breakpoint) {
    font-size: 2rem;
    line-height: 2rem;
  }

  @media screen and (max-width: $medium-mobile-breakpoint) {
    font-size: 1.75rem;
    line-height: 1.75rem;
  }
}


// Bootstrap overrides
.btn {
  @include simple-text-shadow(2px, 0.25%);

  &.btn-primary {
    background-color: $button-color;
    border-color: darken($button-color, 10%);
    transition: background-color 0.5s ease;

    &:hover {
      background-color: lighten($button-color, 8%);
      @include simple-text-shadow(5px, 0.65%);
    }

    &:active, &:focus {
      background-color: lighten($button-color, 10%);
      border-color: $button-color;
      outline: none;
    }
  }

  &.btn-link {
    color: #666;
    text-shadow: none;
  }
}
