<header>
  <nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        <a class="navbar-brand" href="/"><i class="fa fa-list-alt"></i> Things to Do</a>
      </div>
      <div id="navbar">
        <ul class="nav navbar-nav navbar-right">
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><i class="fa fa-user-circle-o"></i> <span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li>
                <a href="#"><i class="fa fa-sign-out"></i> Logout</a>
              </li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>

<main class="container">
  <router-outlet></router-outlet>
</main>

<footer class="main">
  <div class="container">
    <p class="text-center">An Angular web application built using <a href="https://angular.io" target="_blank">Angular</a>, <a href="https://firebase.io" target="_blank">Firebase</a> and <a href="https://getbootstrap.com" target="_blank">Bootstrap</a><br>View this project on <a href="https://github.com/alsoicode/osu-todos" target="_blank">Github <i class="fa fa-github"></i></a></p>
  </div>
</footer>
