@import '../../assets/scss/mixins';
@import '../../assets/scss/variables';

h1 {
  color: #fff;
  font-size: 22rem;
  letter-spacing: -2rem;
  line-height: 22rem;
  margin: 0 0 0 -2.5rem;

  @include simple-text-shadow(11px, .5%);

  @media screen and (max-width: $largest-mobile-breakpoint) {
    font-size: 20rem;
    line-height: 19rem;
  }
}

